@mixin box-sizing($arguments){
	-webkit-box-sizing:$arguments;
	-moz-box-sizing:$arguments;
	box-sizing:$arguments;
}
@mixin box-shadow($arguments){
	-webkit-box-shadow:$arguments;
	-moz-box-shadow:$arguments;
	box-shadow:$arguments;
}