<div class="week">
	<a href="">今天[15]</a>
	 · 
	<a href="">昨天</a>
	 · 
	<a href="">前天</a>
</div>
<ul class="article">
	<li ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
		<a class="thumbs" style="background-image:url(http://hbfile.b0.upaiyun.com/img/home/banner/b13bd7be96032121f6dbc769b2a95fc0c2c7d1b1ba0b7);"></a>
		<div class="details">
			<div class="comment">55</div>
			<span><a href="">疯狂吉尼斯</a> , 29 mins ago</span>
			<a href=""><h2>尼泊尔大地震之后，喜马拉雅山脉矮了1米</h2></a>
			<p>在尼泊尔大地震之后，喜马拉雅山脉的高度已经下降了大约1米。但是缓慢的下降往往伴随着相应的隆起构造运动，对于其中最著名的山峰—珠穆朗玛峰的卫星图像，他们还没有分析评估。</p>
			<div class="star"><i class="icon-star-o"></i>26</div>
		</div>
	</li>
</ul>
<div class="page">
	<a href="" class="prev pr10"><i class="icon-angle-left mr5"></i>上一页</a>
	<a href="">1</a>
	<a href="" class="active">2</a>
	<a href="">3</a>
	<a href="">4</a>
	<a href="">5</a>
	<a href="">99</a>
	<a href="" class="next pl0">下一页<i class="icon-angle-right ml5"></i></a>
	<span>2 / {{ 1960 | number }}</span>
</div>