<div class='weather'>
	<span class='city'>上海：</span>
	<span class='icon' style='background-image:url(http://2.su.bdimg.com/icon/weather/aladdin/png_18/a1.png);'></span>
	<span class='temp'>21 ~ 15℃</span>
	<span class='mh10'>|</span>
	<span class='air'>空气质量：</span>
	<span class='polution'>84</span>
	<span class='text-success ml5'>优</span>
</div>
<div class='about'>
	<h3>about</h3>
	<img class='fr' src='http://s.jandan.com/static/img/weixin3.png'>
	<p><a href=''>煎蛋以译介方式传播新鲜资讯</a></p>
	<p>投稿：TG@7ZhuangB.com</p>
	<p>关注更新：<a href=''>RSS</a> | <a href=''>微博</a> | <a href=''>APP</a></p>
	<font color='#aaa'>微信号煎蛋网，或扫右侧二维码</font>
</div>
<div class='rankings'>
	<h3>top</h3>
	<ol>
		<li ng-repeat='i in [0,1,2,3,4,5,6,7,8,9]'>
			<a href=''>高仿真驾驶模拟器，用它玩赛车你可能会受伤</a>
		</li>
	</ol>
</div>
<div class='sponsors'>
	<h3>sponsors</h3>
	<ul>
		<li><a href='' style='background-image:url(http://ubmcmm.baidustatic.com/media/v1/0f000n1TzrBRNCZTm1-XKf.jpg);'></a></li>
		<li><a href='' style='background-image:url(http://ubmcmm.baidustatic.com/media/v1/0f000c6ZAGBLOeYn-5Wb06.jpg);'></a></li>
		<li><a href='' style='background-image:url(http://ubmcmm.baidustatic.com/media/v1/0f000c6ZAGBLOeYn-5Wb06.jpg);'></a></li>
		<li><a href='' style='background-image:url(http://ubmcmm.baidustatic.com/media/v1/0f000rjGcp5Wb0AFQ9tTY6.jpg);'></a></li>
		<li><a href='' style='background-image:url(http://ubmcmm.baidustatic.com/media/v1/0f000rjGcp5Wb0AFQ9tTY6.jpg);'></a></li>
		<li><a href='' style='background-image:url(http://ubmcmm.baidustatic.com/media/v1/0f000n1TzrBRNCZTm1-XKf.jpg);'></a></li>
	</ul>
</div>
<a class='advert' style='background-image:url(http://ubmcmm.baidustatic.com/media/v1/0f000QYBwxBWy1M-DFJds0.jpg);'></a>