<!doctype html>
<html ng-app='soap'>
<meta charset='utf-8'>
<title>Hello Soap</title>
<meta name='renderer' content='webkit'>
<meta name='author' content='Liu Kunliang'>
<meta name='viewport' content='width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1'>
<meta name='format-detection' content='telephone=no,email=no,address=no'>
<meta http-equiv='Pragma' content='no-cache'>
<meta http-equiv='Cache-Control' content='no-siteapp'>
<link href='css/soap.css' rel='stylesheet'>
<base href='/'>
</head>
<body>
	<soap-wrapper></soap-wrapper>
<script src='js/angular/angular.js'></script>
<script src='js/angular/angular-route.js'></script>
<script src='js/soap/app.js'></script>
<script src='js/soap/routers.js'></script>
<script src='js/soap/filters.js'></script>
<script src='js/soap/services.js'></script>
<script src='js/soap/directives.js'></script>
<script src='js/soap/controllers.js'></script>
</body>
</html>