$logo-height:		60px !default;
$header-height: 	42px;
$nav-height:		$header-height;
$content-width:		653px;
$sidebar-width:		325px;
$footer-height:		65px;

$primary-color:		#0e90d2;
$secondary-color:	#3bb4f2;
$success-color:		#4cc74c;
$warning-color:		#f37b1d;
$danger-color:		#dd514c;

::selection{
	color:#fff;
	background:$danger-color;
}
html,body{
	height:100%;
}
body{
	font-size:12px;
	font-family:'Microsoft Yahei';
	overflow-y:scroll;
}
a{
	color:#444;
	&:hover{
		color:$danger-color;
	}
}
.wrapper{
	max-width:980px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:$logo-height + $header-height;
	padding-bottom:$footer-height;
	position:relative;
}
.header{
	position:absolute;
	top:0;
	left:0;
	right:0;
}
.logo{
	float:left;
	h1{
		font-size:0;
		a{
			width:120px;
			height:$logo-height;
			text-indent:-9999px;
			background:url(../images/common/logo.gif) 0 0 no-repeat;
			display:block;
		}
	}
}
.nav{
	width:100%;
	height:$nav-height;
	background-color:#444;
	position:relative;
	& > li{
		margin-left:-1px;
		position:relative;
		float:left;
		&:first-child{
			margin-left:0;
		}
		a{
			min-width:70px;
			height:$nav-height;
			color:#ccc;
			font-size:13px;
			text-align:center\0;
			border:1px #393939;
			border-style:none solid;
			background-color:#444;
			padding:12px 20px;
			display:block;
			&:hover{
				color:#444;
				background-color:#777;
			}
		}
		& > ul{
			border-bottom:1px solid #393939;
			position:absolute;
			z-index:1;
		}
	}
}
.container{
	min-height:100%;
	border:1px #dedede;
	border-style:none solid;
	background:url(data:image/gif;base64,R0lGODlhAQABAIAAAN3d3f///yH5BAEAAAEALAAAAAABAAEAAAICRAEAOw==) $content-width - 1 0 repeat-y;
}
.content{
	width:$content-width;
	padding-right:1px;
	float:left;
	.week{
		height:48px;
		border-bottom:1px solid #dedede;
		padding:15px 20px;
		a{
			color:#4f4f4f;
		}
	}
}
.article{
	li{
		border-bottom:1px solid #dedede;
		padding:15px 20px;
		@extend .clearfix;
		.thumbs{
			width:175px;
			height:100px;
			border:1px solid #ececec;
			background-size:cover;
			background-position:50% 50%;
			background-repeat:no-repeat;
			display:block;
			float:left;
		}
		.details{
			width:408px;
			height:100px;
			position:relative;
			float:right;
			span{
				color:#aaa;
				display:block;
				a{
					color:#aaa;
				}
			}
			h2{
				color:$danger-color;
				font-size:16px;
				@extend .mb5;
				&:hover{
					color:#444;
				}
			}
			p{
				line-height:1.5em;
				color:#666;
				font-size:13px;
			}
			.comment{
				color:#dedede;
				font-size:16px;
				font-family:Sans-serif;
				font-weight:700;
				position:absolute;
				right:-10px;
			}
			.star{
				color:#aaa;
				font-family:Simhei;
				position:absolute;
				right:-10px;
				bottom:-2px;
				cursor:pointer;
				i{
					font-size:14px;
					@extend .mr5;
				}
				&:hover{
					color:#333;
				}
			}
		}
	}
}
.sidebar{
	width:$sidebar-width;
	float:left;
	h3{
		color:#aaa;
		font-size:12px;
		font-weight:normal;
		text-transform:uppercase;
	}
	.weather{
		height:48px;
		color:#fff;
		border-bottom:1px solid #dedede;
		padding:15px 20px;
		span{
			text-shadow:0 0 3px #444;
			display:block;
			float:left;
		}
		.icon{
			width:18px;
			height:18px;
			vertical-align:0;
			background-repeat:no-repeat;
			@extend .ml5,.mr10;
			position:relative;
			top:-2px;
		}
		.polution + span{
			text-shadow:0 0 2px #999;
		}
	}
	.about{
		line-height:1.7em;
		border-bottom:1px solid #dedede;
		padding:15px 20px;
	}
	.rankings{
		padding:15px 20px 0;
		ol{
			color:#aaa;
			border-bottom:1px solid #dedede;
			padding:5px 20px 10px;
			a{
				line-height:26px;
			}
		}
	}
	.sponsors{
		padding:15px 20px;
		ul{
			border-bottom:1px solid #dedede;
			@extend .clearfix,.pt10;
			li{
				width:135px;
				height:135px;
				@extend .mb15;
				overflow:hidden;
				a{
					height:100%;
					background-size:cover;
					background-position:50% 50%;
					background-repeat:no-repeat;
					display:block;
				}
				&:nth-child(odd){
					float:left;
				}
				&:nth-child(even){
					float:right;
				}
			}
		}
	}
	.advert{
		height:$sidebar-width - 15;
		background-size:cover;
		background-position:50% 50%;
		background-repeat:no-repeat;
		background-clip:content-box;
		padding:0 20px 15px;
		display:block;
	}
}
.page{
	text-align:right;
	@extend .p20;
	a{
		color:#fff;
		border:1px solid #ccc;
		background-color:#ccc;
		@extend .ml5;
		padding:4px 8px;
		display:inline-block;
		&.active{
			color:#aaa;
			border-color:#eee;
			background-color:#fff;
			cursor:default;
		}
		i:before{
			font-size:14px;
		}
		&:hover:not(.active){
			border:1px solid #aaa;
		}
	}
	span{
		color:#aaa;
		border:1px solid #ddd;
		background-color:#f2f2f2;
		@extend .ml5;
		padding:4px 8px;
		display:inline-block;
	}
}
.footer{
	height:$footer-height;
	line-height:2em;
	color:#aaa;
	font-size:12px;
	text-align:center;
	border:1px #dedede;
	border-style:solid solid none;
	padding:20px;
	a{
		color:#aaa;
	}
}
.header,
.nav,
.container,
.weather,
.page,
.clearfix{
	@include clearfix();
}
.text-primary{
	color:#0e90d2;
}
.text-secondary{
	color:#3bb4f2;
}
.text-success{
	color:#4cc74c;
}
.text-warning{
	color:#f37b1d;
}
.text-danger{
	color:#dd514c;
}
