@mixin createShortTag($size: 4){
	$type: (m margin) (p padding);
	@each $name in $type{
		$class: nth($name,1);
		$extend: nth($name,2);
		@for $index from 1 through $size{
			$direction: (a all) (t top) (r right) (b bottom) (l left) (v vertical) (h horizontal);
			$value: 5 * $index;
			@each $param in $direction{
				$alias: nth($param,1);
				$current: index($direction,$param);
				@if $current == 1{$alias: ''};
				.#{$class + $alias + $value}{
					@if $current > 1 and $current < 6{
						#{$extend + '-' + nth($param,2)}:$value + px!important;
					}@else if $current == 6{
						#{$extend}:$value + px 0!important;
					}@else if $current == 7{
						#{$extend}:0 $value + px!important;
					}@else{
						#{$extend}:$value + px!important;
					}
				}
			}
		}
	}
	.fl{
		float:left;
	}
	.fr{
		float:right;
	}
}
